<div class="container">
  <div class="col">
    <div class="card border shadow">
      <div class="card-content">
        <h1>Kyclops radio</h1>
        <div class="row p-5">
          <h4>Botones</h4>
          <div class="col-6 card shadow ">
            <button class="btn btn-primary">Correcto</button>
            <button class="btn btn-danger">Cancelar</button>
          </div>
        </div>
        <div class="row p-5">
          <h4>intputs</h4>
          <div class="col-6 card shadow ">
            <button class="btn btn-primary">Correcto</button>
            <button class="btn btn-danger">Cancelar</button>
          </div>
        </div>
        <div class="row p-5">
          <h4>Iconos</h4>
          <div class="col-6 card shadow ">
            <i class="rocket"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <app-reproductor></app-reproductor>
  </div>
</div>
